<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/core">

<h:head>
    <title>Добавить пост</title>
<!--    <link rel="stylesheet" href="../styles.css" />-->
</h:head>

<h:body>
    <h:form>
        <h3>Добавить пост</h3>
        <h:outputLabel value="название группы"/>
        <h:inputText id="text" value="#{group.group.groupName}" styleClass="enter"/>

        <h:commandButton value="ок" action="#{group.insert}" styleClass="apply"/>
    </h:form>
</h:body>
</html>