<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Добавить студенту</title>
<!--    <link rel="stylesheet" href="../styles.css" />-->
</h:head>

<h:body>
    <h:form>
        <h3>Добавить студента</h3>

        <h:messages globalOnly="true" style="color:red;margin:8px;" />

        <h:outputText value="ФИО" />
        <h:inputText id="fio" value="#{student.student.FIO}" styleClass="enter"/>


        <h:outputText value="Тема диплома" />
        <h:inputText id="tema" value="#{student.student.tema}" styleClass="enter"/>
        <h:outputText value="Номер зачетки" />
        <h:inputText id="nzach" value="#{student.student.nzach}" styleClass="enter"/>
        <h:outputText value="Средний балл" />
        <h:inputText id="average" value="#{student.student.average}" styleClass="enter"/>
        <h:message for="average"/>
        <br/><br/>

        <h:commandButton value="ок" action="#{student.insert}" styleClass="apply"/>
    </h:form>
</h:body>
</html>