<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>Логин</title>
<!--    <link rel="stylesheet" href="styles.css" />-->
</h:head>
<h:body>
    <h:form>
        <h:messages globalOnly="true" style="color:red;margin:8px;" />
        <h:outputText value="Логин" />
        <h:inputText id="username" value="#{user.login}" styleClass="enter" placeholder="login"/>
        <h:message for="username"/>
        <br/><br/>

        <h:outputText value="Пароль"/>
        <h:inputSecret id="password" value="#{user.password}"  styleClass="enter" placeholder="password"/>
        <h:message for="password"/>
        <br/><br/>

        <h:commandButton action="#{user.validateUser}"
                         value="Войти" styleClass="apply"/>
    </h:form>
</h:body>
</html>