<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">>

<h:head>
    <title>Таблицы</title>
</h:head>

<h:body>
    <h:form>
        <table border="1" class="groups-table">
            <tr>
                <th>Номер группы</th>
                <th>число студентов</th>
                <th>Название</th>
                <th>добавить новую группу</th>
            </tr>

            <tbody>
            <ui:repeat var="o" value="#{user.user.groups}">
                <tr>
                    <td>#{o.id}</td>
                    <td>#{o.students.size()}</td>
                    <td>#{o.groupName}</td>
                    <td>
                        <h:commandButton value="добавить нового студента" action="#{user.moveToInsertStudent}">
                            <f:actionListener binding="#{student.setGroupId(o.id)}"/>
                            <f:actionListener binding="#{student.setUserBean(user)}"/>
                        </h:commandButton>
                    </td>
                </tr>
            </ui:repeat>
            </tbody>
        </table>

        <h:commandButton value="создать новый пост" action="#{user.moveToInsertGroup}">
            <f:actionListener binding="#{group.setUserBean(user)}"/>
        </h:commandButton>


        <table border="1" class="comment-table">
            <tr>
                <th>Айди</th>
                <th>ФИО</th>
                <th>Номер зачетки</th>
                <th>средний балл</th>
                <th>тема</th>
                <th>номер группы</th>
            </tr>

            <tbody>
            <ui:repeat var="o" value="#{user.user.groups}">
                <ui:repeat var="stu" value="#{o.students}">
                <tr>
                    <td>#{stu.id}</td>
                    <td>#{stu.FIO}</td>
                    <td>#{stu.nzach}</td>
                    <td>#{stu.average}</td>
                    <td>#{stu.tema}</td>
                    <td>#{stu.group.id}</td>
                </tr>
                </ui:repeat>
            </ui:repeat>
            </tbody>
        </table>

        <h:commandButton value="Скачать" action="#{user.convert}" />
        <h:commandButton value="Выйти" action="#{user.logout}"/>
    </h:form>
</h:body>
</html>