body {
    background-image: url("https://pbs.twimg.com/media/CPwNrYGWUAE54ZL.png:large");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    max-width: 1000px;
    margin-top: -60px;
    text-align: center;
}

.welcome__img{
    margin-left: 500px;
    position: relative;
}

.welcome__text {
    position: absolute;
    left: 42.5%;
    top: 45px;
    color: rgba(255, 218, 201, 0.99);
    font-weight: 800;
    font-size: 35px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Dancing Script', cursive;
}
.container{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

.cont__menu{
    margin-top: -224px;
    margin-left: 1100px;
}
.menu__text{
    max-width: 600px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Dancing Script', cursive;
}
.menu__forms{
    max-width: 300px;
    font-size: 20px;
    font-weight: 300;
}
.forms__login{
    margin-bottom: 20px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Dancing Script', cursive;
}
.forms__password{
    margin-bottom: 20px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Dancing Script', cursive;
}

.empty_login {
    margin-right: 21px;
    color: crimson;
}

.empty_password{
    color: crimson;
}

.forms__btn{
    padding: 10px;
    font-weight: 500;
    font-family: 'Comic Neue', cursive;
    font-family: 'Dancing Script', cursive;
}


input#log, input#pas {background-repeat:no-repeat;background-attachment:scroll;background-position:0 center;padding-left:25px;}
input#log {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_16.gif')}
input#pas {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_lock_16.gif')}
input#lo, input#pa {background-repeat:no-repeat;background-attachment:scroll;background-position:0 center;padding-left:25px;}
input#lo {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_16.gif')}
input#pa {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_lock_16.gif')}
input#l, input#p {background-repeat:no-repeat;background-attachment:scroll;background-position:0 center;padding-left:25px;}
input#l {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_16.gif')}
input#p {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_lock_16.gif')}
input#logi, input#pass {background-repeat:no-repeat;background-attachment:scroll;background-position:0 center;padding-left:25px;}
input#logi {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_16.gif')}
input#pass {background-image:url('http://www.shtogrin.com/design/form/input_with_ico/user_lock_16.gif')}
.menu__forms input[type="text"],
.menu__forms input[type="password"]{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    font-weight: 500;
}
.menu__forms input::placeholder {
    font-size: 15px;
    color: #000;
}
.remark{
    font-size: 16px;
}
.content__buttons input[type="remark"]::-webkit-input-placeholder {
    color: crimson;
}

.user-space{
    padding-top: 80px;
    font-size: 30px;
}
.greeting-user{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}
.reset__name--title{
    max-width: 700px;
}
.user-table th{
    padding: 10px;
}
table{
    text-align: center;
}
.author-table{
    margin-bottom: 40px;
}
